$black: #222 !default;
$true-black: #000 !default;
$white: #fff !default;
$gray-0: #333 !default;
$gray-1: #444 !default;
$gray-2: #666 !default;
$gray-3: #999 !default;
$gray-4: #ccc !default;
$gray-5: #eee !default;
$gray-6: #f4f5f6 !default;
$red-1: #fd4445 !default;
$red-2: #d62223 !default;
$blue-1: #0c78af !default;
$blue-2: #01547f !default;
$blue-3: #2c607f !default;
$navy: #2b2b3a !default;
$link-blue: #0c78af !default;
$link-light-blue: #2977a5 !default;
$input-focus: #88ccfc !default;
$green-1: #4fa009 !default;
$green-2: #307c01 !default;
$purple-1: #ad2ed1 !default;

// Text colors
$text-colors: (
  black: $black,
  white: $white,
  gray-0: $gray-0,
  gray-1: $gray-1,
  gray-2: $gray-2,
  red: $red-1,
  blue-1: $blue-1,
  navy: $navy,
  link-blue: $link-blue,
  link-light-blue: $link-light-blue,
  green-1: $green-1
);

// Button colors
$btn-colors: (
  default: $black,
  primary: $blue-1,
  secondary: $green-1,
  tertiary: $red-1
);

// Background colors
$background-colors: (
  red: $red-1,
  green: $green-1,
  blue: $blue-1,
  navy: $navy,
  light-navy: lighten($navy, 10%),
  light-gray: $gray-6,
  black: $black,
  white: $white
);