// Default font
$default-font:  Poppins, Arial, Helvetica, sans-serif !default;

// Root font size
$root-font-size: 16 !default;

// Default line-height
$default-line-height: 1.8 !default;

// Text alignment
$text-alignment-options: left right center !default;

// Font sizes
$font-sizes: 12 14 16 20 24 30 36 42 48 !default;

// Font weights
$font-light: 300 !default;
$font-light-italic: 300i !default;
$font-normal: 400 !default;
$font-normal-italic: 400i !default;
$font-medium: 500 !default;
$font-medium-italic: 500i !default;
$font-semibold: 600 !default;
$font-semibold-italic: 600i !default;
$font-bold: 700 !default;
$font-bold-italic: 700i !default;
$font-black: 900 !default;
$font-black-italic: 900i !default;

// Spacing increments
$spacing-increments: 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 !default;

// Display options
$display-options: block, inline-block, none, flex, inline-flex;

// List spacing
$list-spacing: 8 16 24;

// Inputs
$input-height: 44;

$input-sizes: (
  sm: 50,
  md: 100,
  lg: 200
);

// Border radii
$base-border-radius: 4;

// Header
$header-height: 60px;

$border-radii-sm: rem(2) !default;
$border-radii-md: rem(4) !default;
$border-radii-lg: rem(6) !default;
$border-radii-round: 50% !default;

// Breakpoints
$breakpoint-small: 412px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 1024px !default;

$breakpoints: (
  small: $breakpoint-small,
  medium: $breakpoint-medium,
  large: $breakpoint-large
);