.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  // &__header {
    
  // }

  &__body {
    height: calc(100% - $header-height);
    overflow: auto;
    scroll-behavior: smooth;
  }
}