.btn {
  border: rem(1) solid $blue-4;
  border-radius: rem($base-border-radius);
  background: $white;
  color: $blue-4;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  font-size: rem(16);
  min-height: rem($input-height);
  outline: 0;
  padding: rem(12 24);
  text-transform: uppercase;
  transition: background .3s linear;
  
  &:hover {
    background: $gray-5;
  }
  
  &:focus,
  &:active {
    box-shadow: rem(0 0 0 4) $blue-0;
  }
  
  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active {
    background: $gray-4;
    color: $gray-2;
    box-shadow: 0;
    cursor: default;
  }

  &--pill {
    border-radius: rem($input-height);
  }
  
  &--block {
    display: block;
    width: 100%;
  }
  
  @each $name, $value in $btn-colors {
    &--#{$name} {
      background: $value;
      color: $white;
      border: 0;
      
      &:hover {
        background: darken($value, 10%);
      }
    }
  }
}