.input {
  border: rem(1) solid $gray-2;
  border-radius: $base-border-radius;
  height: $input-height;
  font-size: inherit;
  font-family: inherit;
  padding: rem(0 16);

  &:focus {
    box-shadow: rem(0 0 0 4) $input-focus;
  }

  &--has-error {
    border-color: $red-1;
  }

  @each $size in $input-sizes {
    &--#{$size} {
      width: rem($size);
    }
  }

  @each $name, $breakpoint in $breakpoints {
    @media(min-width: $breakpoint) {
      @each $size in $input-sizes {
        &--#{$size}\@#{$name} {
          width: rem($size);
        }
      }
    }
  }
}